{% extends 'core/base.html' %} {% block title %} Servicios {% endblock %} {% block background %} {% load static%} {% static 'core/img/portafolio.jpg' %} {% endblock %} {% block header %}
<h1> Servicios que ofrecemos </h1> {% endblock %} {% block content %} {% for serv in servicio %}
<div class="row project">
    <div class="col-lg-3 col-md-4 offset-lg-1">
        <img class="img-fluid" src="{{ serv.image.url }}" alt="">
    </div>
    <div class="col-lg-7 col-md-8">
        <h2 class="section-heading title"> {{serv.title }}</h2>
        <p> {{serv.description}} </p>
    </div>
</div>
{% endfor %} {% endblock %}